body {
  font-size: 16px;
  color: #000;
  background-color: #e7e7e7;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #99f4e5;
  border-radius: 0;
  border: 0;
} 

#header-nav .container {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}


.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #550cfe;
  font-size: 1.5em;
  /*text-transform: uppercase;*/
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: -10px;
  line-height: .75;
  padding-bottom: -10px;
  margin-left: 20px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  font-size: 1.8em;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list li {
	border: 3px solid black;
	margin: 0 1px 5px;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
  margin-right: 20px;
}

h1#heading {
	color: black;
	text-shadow: 1px 1px #ff0000;
	margin-bottom: 20px;
}
/* END HEADER */

/* START OF MAIN CONTENT */

#main-content.container {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#main-content .col-xs-12 {
  border: 3px solid brown;
  margin-bottom: 15px;
  background-color: #0865ff;
}

#menu-heading {
  font-size: 1.8em;
  font-weight: bold;
}